.navbar_container {
  width: 100%;
  min-height: 85px;
  background-color: #f79f1f;
}

.navbar_container_cover {
  width: 1440px;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 200px auto 300px;
  align-items: center;
}

.navbar_container_cover2 {
  width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  /* border-top: 2px solid #ee5a24; */
}

/* dssdmf;d;spdmsd */

.navbar_container_cover2:last-child {
  /* border-right: 1px solid #ee5a24; */
}

.navbar_container_cover2_link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  padding: 5px;
  color: #fff;
  box-sizing: border-box;
  /* border-left: 1px solid #ee5a24; */
  width: 100%;
}

.navbar_container_cover2_link:hover {
  background-color: rgb(255, 255, 255);
  color: #ee5a24;
}

.navbar_container_cover2_link:active {
  background-color: #fff;
  color: #ee5a24;
}

.navbar_container_cover_brand {
}

.navbar_container_cover_brand_link {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.navbar_container_cover_brand_link_img {
  width: 70px;
}

.navbar_container_cover_search {
  width: 100%;
  height: 100%;
}

.navbar_container_cover_search_input {
  width: 100%;
  height: 45px;
  border: 0;
  background-color: #fff;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 15px;
  /* font-family: "Nanum Pen Script", cursive; */
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}

.navbar_container_cover_basket {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_container_cover_basket_link {
  height: 45px;
  background-color: #f79f1f;
  user-select: none;
  -webkit-user-drag: none;
  padding: 12px;
  border-radius: 3px;
}

.navbar_container_cover_basket_link:hover {
  background-color: #fff;
}

.navbar_container_cover_basket_link:active {
  background-color: #f79f1f;
}

.navbar_container_cover_basket_link_img {
  height: 100%;
}

.navbar_container_cover_basket_summarize_span {
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
}

@media (max-width: 1440px) {
  .navbar_container_cover {
    width: 100%;
    grid-template-columns: 200px auto 300px;
  }

  .navbar_container_cover2 {
    width: 100%;
    grid-template-columns: 200px auto 300px;
  }
}

@media (max-width: 860px) {
  .navbar_container_cover {
    width: 100%;
    /* grid-template-columns: 200px auto 300px; */
    grid-template-columns: 1fr 360px 1.5fr;
  }

  .navbar_container_cover_search_input::placeholder {
    font-size: 0.8em;
  }
}

@media (max-width: 660px) {
  .navbar_container_cover {
    width: 100%;
    /* grid-template-columns: 200px auto 300px; */
    grid-template-columns: 1fr 260px 1.5fr;
  }

  .navbar_container_cover_basket_summarize {
    display: none;
  }

  /* .navbar_container_cover_search {
    width: 300px;
  } */

  .navbar_container_cover_search_input::placeholder {
    font-size: 0.7em;
  }
}
