.product_container {
  width: 100%;
}

.product_container_cover {
  width: 1440px;
  min-height: 100px;
  margin: 0 auto;
}

.product_container_cover_prod {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: auto;
}

.product_container_cover_prod_itself {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-height: 370px; */
}

.product_container_cover_prod_itself_img {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  box-sizing: border-box;
  /* padding: 10px; */
  margin: 50px 10px;
}

.product_container_cover_prod_itself_img_cover {
  width: 100%;
  height: 100%;
  /* background-color: coral; */
}

.product_container_cover_prod_itself_img_cover_img {
  /* width: 500px !important; */
  width: 100%;
}

.product_container_cover_prod_itself_about {
  grid-column: 2/3;
  grid-row: 1/2;
  /* background-color: chocolate; */
  min-height: 100px;

  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product_container_cover_prod_itself_about_title {
  font-family: "Kumbh";
  font-weight: 700;
}

.product_container_cover_prod_itself_about_price {
  color: coral;
  font-size: 26px;
  font-weight: 700;
}

.product_container_cover_prod_itself_about_text {
  font-weight: 200;
  font-size: 14px;
}

.product_container_cover_prod_itself_about_button {
  background-color: coral;
  color: #fff;
  outline: 0;
  border: none;
  height: 30px;
  min-width: 400px;
  margin: 0 auto;
  font-weight: 700;
}

.product_container_cover_prod_itself_about_button:hover {
  opacity: 0.6;
}

.product_container_cover_prod_itself_about_button:active {
  opacity: 0.2;
  outline: none !important;
  border: none !important;
}

.product_container_cover_prod_filter {
  grid-column: 2/3;
  grid-row: 1/2;
}

@media (max-width: 1460px) {
  .product_container_cover {
    width: 100%;
  }

  .product_container_cover_prod {
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto auto;
  }

  .product_container_cover_prod_itself {
    /* grid-column: 1/2;
    grid-row: 2/3; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 10000px;
  }

  .product_container_cover_prod_itself_img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .product_container_cover_prod_itself_about {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .product_container_cover_prod_filter {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (max-width: 860px) {
  .product_container_cover_prod {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .product_container_cover_prod_filter {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .product_container_cover_prod_itself {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .product_container_cover_prod_itself_img_cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
